# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [6]:
import pandas as pd
import numpy as np

# Seu código aqui
lista_ano= [1900,1920,1940,1960,1980,2000,2020]
lista_anom_term= [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
s= pd.Series(data= lista_anom_term, index= lista_ano)
s

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [7]:

# seu código aqui
lista_ano= [1900,1920,1940,1960,1980,2000,2020]
lista_anom_term= [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
s= pd.Series(data= lista_anom_term, index= lista_ano)
s

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [9]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
a=pd.Series(data=dic_temperaturas)
a

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [16]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df=pd.DataFrame(arr)
df

             0           1           2
0   118.638720  101.082922   95.323672
1   121.066112   99.843378  102.884958
2   117.353006   89.101496   97.482054
3    97.206797  113.813340   97.859758
4   126.862236   91.878968   89.338742
5   105.223148   92.983257   98.641972
6    90.823593   93.765719   96.514269
7   106.237173   99.475009  106.676728
8    83.877219  103.651283   90.075901
9    92.052610   95.743876   88.965152
10  106.180121   93.413710  102.217082
11  107.762429  114.845203   82.958485
12   97.507757   80.749085   98.235478
13  109.555973   92.139452  109.728960
14   87.353090   85.013993   97.364723
15   94.853602   98.814004  109.987558
16   96.627135  101.665957   98.359374
17   98.926315  102.695458  114.100257
18   85.797898  116.566207  116.407349
19  106.927058  103.540790  101.947306

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [22]:
#seu código aqui

df.columns=['x1','x2','x3']
df.index=range(1,21)
df

            x1          x2          x3
1   118.638720  101.082922   95.323672
2   121.066112   99.843378  102.884958
3   117.353006   89.101496   97.482054
4    97.206797  113.813340   97.859758
5   126.862236   91.878968   89.338742
6   105.223148   92.983257   98.641972
7    90.823593   93.765719   96.514269
8   106.237173   99.475009  106.676728
9    83.877219  103.651283   90.075901
10   92.052610   95.743876   88.965152
11  106.180121   93.413710  102.217082
12  107.762429  114.845203   82.958485
13   97.507757   80.749085   98.235478
14  109.555973   92.139452  109.728960
15   87.353090   85.013993   97.364723
16   94.853602   98.814004  109.987558
17   96.627135  101.665957   98.359374
18   98.926315  102.695458  114.100257
19   85.797898  116.566207  116.407349
20  106.927058  103.540790  101.947306

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [53]:
# seu código aqui

    
df['medias']= (df['x1']+df['x2']+df['x3'])/2

df

##a=df['medias'].mean(), isso foi só um teste, vou deixar em comentário
##a

            x1          x2          x3      medias
1   118.638720  101.082922   95.323672  157.522657
2   121.066112   99.843378  102.884958  161.897224
3   117.353006   89.101496   97.482054  151.968278
4    97.206797  113.813340   97.859758  154.439947
5   126.862236   91.878968   89.338742  154.039973
6   105.223148   92.983257   98.641972  148.424188
7    90.823593   93.765719   96.514269  140.551790
8   106.237173   99.475009  106.676728  156.194455
9    83.877219  103.651283   90.075901  138.802202
10   92.052610   95.743876   88.965152  138.380819
11  106.180121   93.413710  102.217082  150.905456
12  107.762429  114.845203   82.958485  152.783058
13   97.507757   80.749085   98.235478  138.246160
14  109.555973   92.139452  109.728960  155.712192
15   87.353090   85.013993   97.364723  134.865903
16   94.853602   98.814004  109.987558  151.827582
17   96.627135  101.665957   98.359374  148.326233
18   98.926315  102.695458  114.100257  157.861015
19   85.797898  116.566207  116.407349  159.385727
20  106.927058  103.540790  101.947306  156.207577

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [54]:
# seu código aqui
df['log']= np.log10(df)## duvidas de como fazer o log ddas colunas, nao sei a sintaxe, tanto para fazer o log quanto para criar
## outra coluna com o log das outras colunas
df

ValueError: Wrong number of items passed 4, placement implies 1